{% extends 'base.html' %}

{% block mainbody %}
<form method="post" class="w-screen h-screen flex flex-col justify-center items-center">
    {% csrf_token %}
    <div>
      <input class="border-2 rounded-md border-black p-4 m-2" type="text" name="address" placeholder="Address" required>
    </div>
    <div>
        <input class="border-2 rounded-md border-black p-4 m-2" type="text" name="city" placeholder="City" required>
      </div>
    <div>
        <input class="border-2 rounded-md border-black p-4 m-2" type="text" name="state" placeholder="State" required>
      </div>
    <div>
      <input class="border-2 rounded-md border-black p-4 m-2" type="text" name="mobile" placeholder="Mobile Number" required>
    </div>
    <div>
      <button class="border-2 rounded-md border-black py-2 px-4 m-2" type="submit">Submit</button>
    </div>
</form>

  
{% endblock %}